.order-detail-confirm-order-data-parent{
      display: block;
}


.order-detail-confirm-order-data-parent h1{
    color: tomato;
    text-align: center;
}
.order-detail-confirm-order-left-div{
    border: 0;
    width: 80%;
    margin: auto;
}

@media screen and (max-width:600px) {
    .order-detail-confirm-order-left-div{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}