.cart-parent{
    width: 85%;
    min-height: 100vh;
    margin: auto;
}

.cart-no-products{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cart-no-products h2{
    margin: 5px 0 20px 0;
}

.cart-no-products button{
    padding: 10px 30px;
    background-color: black;
    color: white;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}

.no-shopping-cart-icon{
    font-size: 70px !important;
    color: tomato;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color:tomato;
    color: #ffffff;
    text-align: left;
}


.styled-table th,
.styled-table td {
    padding: 12px 15px;
}


.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid tomato;
}


.styled-table tbody tr.active-row {
    font-weight: bold;
    color: tomato;
}


tbody tr td:first-child{
   display: flex;
   align-items: center;
}

.cart-product-info{
    margin-left: 10px;
}

.cart-product-info p{
    margin-bottom: 5px;
}

.cart-product-info p:last-child{
    color: tomato;
    cursor: pointer;
}

tbody td>img{
    width: 90px;
    height: 100px;
    object-fit: contain;
}

.cart-button-parent{
    text-align: right;
    padding-right: 20px;
    margin-bottom: 20px;
}

.cart-button-parent button{
    width: 300px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 30px;
}